body {
background-color: ##E6E6FA;
}


h6 {
margin: 20px;
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

#firstTitle {
@include font-size(4rem);
text-align: center;
}

#titleWithPicture {
background: url("mars_logo.png") left no-repeat transparent;
padding-left: 150px;
}

#mainLoop {
text-align: center;
}