{% extends "base.html" %}

{% block content %}
<h2>Оформление</h2>
<table width="200px">
    <thead>
    <th>Цвет стен</th>
    <th>Эмблема</th>
    </thead>
    <tr>
        {% if sex == 'male' and age < 21 %}
        <td bgcolor="gray"></td>
        {% elif age >= 21 and sex == 'male' %}
        <td bgcolor="blue"></td>
        {% elif age >= 21 and sex == 'female' %}
        <td bgcolor="red"></td>
        {% elif age < 21 and sex == 'female' %}
        <td bgcolor="pink"></td>
        {% endif %}
    </tr>
</table>
{% endblock %}